.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

.movieRow--listarea { /* Tudo o que passar da tela vai ser cortado */
    overflow-x: hidden;
    padding-left: 30px;
}

.movieRow--list {
    width: 9999px; /* um item/filme ao lado do outro infinitamente*/
}

.movieRow--item {
    display: inline-block; /* Um item/filme ao lado do outro */
    width: 150px;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9); /* espaço de 100%, mas o CSS vai deixar em 90% para dar espaço a animação, não usar padding nem margin */
    transition: all ease 0.2s;
}

.movieRow--item img:hover {
    transform:scale(1) /* a imagem vai ocupar 100% doe espaço definido, sem acrescentar pading nem margin */
}